.buttons-container {
    width: 300px;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}

.output {
    padding-top: 22px;
    font-size: 21px;
}

.country {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    border: 2px solid #135092;
}

.greet {
    color: #135092;
    margin: 20px auto;
    font-weight: 400;
}