.sign-up-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

h2 {
    font-size: 21px;
    color: #135092;
    text-transform: uppercase;
    text-align: center;
}

span {
    margin-bottom: 20px;
    text-align: left;
}
form {
    display: flex;
    flex-direction: column;
}

.sign-up-container>form>input {
    margin: 10px 0;
    padding: 7px 10px;
}

input:focus {
    outline: none;
}

.sign-up-btn {
    width: 100%;
    font-size: 14px;
    margin: 0 auto;
    padding: 12px 0;
}